@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  display: flex;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}
.logo-img {
  width: 50%;
  background-image: url("../img/Image+Blur.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.logo-form {
  width: 50%;
  padding: 60px 100px;
}
.svg {
  margin-bottom: 150px;
}
form {
  width: 100%;
  max-width: 400px;
}
.input {
  outline: none;
}
h1 {
  margin-bottom: 32px;
}
label {
  display: block;
  margin-bottom: 34px;
  width: 100%;
}
input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid grey;
  padding: 5px 10px;
}
p {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 8px;
}
button {
  width: 100%;
  border: none;
  background-color: #0eb182;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 24px;
  border-radius: 10px;
}
@media (max-width: 800px) {
  .logo-form {
    padding: 40px 50px;
  }
}
@media (max-width: 600px) {
  .logo-img {
    display: none;
  }
  .logo-form {
    width: 100%;
  }
}
